<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="tokyo.punchdrunker.dynamic.gallery">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/module_feature_gallery">
        <dist:fusing include="true" />
    </dist:module>
    <application>
        <activity
            android:name="tokyo.punchdrunker.dynamic.gallery.GalleryActivity"
            android:parentActivityName="tokyo.punchdrunker.hocho.DynamicFeatureActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.DynamicFeatureActivity" />
        </activity>
    </application>
</manifest>

