<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tokyo.punchdrunker.hocho">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HochoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".AsyncActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".LifecycleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DynamicFeatureActivity"
            android:label="@string/title_activity_dynamic_feature"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".transition.FromActivity"
            android:label="@string/transition"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tokyo.punchdrunker.hocho.MainActivity" />
        </activity>
        <activity
            android:name=".transition.ToActivity"
            android:label="@string/transition"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".transition.PagerActivity"
            android:label="@string/transition"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".SimpleStorageActivity"
            android:label="@string/simple_storage"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>