name: Android CI

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: 17
        distribution: 'adopt'
    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.2'
    - name: bundle install
      run: |
        gem install bundler
        bundle install
    - name: Run lint
      run: ./gradlew app:lintDebug
    - name: Danger
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: danger
    - name: Test
      run: ./gradlew --stacktrace testDebug
    - name: Upload result
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: test.html
        path: app/build/reports/**/*
